/*blue- #2196f3*/
/*pink - #df3d73*/

body{
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100%;
}

.top{
  position: sticky;
  top: 0;
  z-index: 5;
}

.navdiv{
  width: 100vw;
}

.logo{
  color: #000;
}

.score{
  background-color: #000;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

.headline{
  color: #fff;
  background-color: #000;
}

.headline span{
  color: #df3d73;
}

.top-of-page{
  background-color: #000;
  color: #fff;
}

.options{
  background-color: #fff;
}

.rest{
  padding: 0 !important;
  border-bottom: 1px solid lightgrey;

}

#restaurant{
  height: 20vh;
  background-image: url("../../assets/images/Picture1.png");
  background-position: center;
  overflow: visible;
  padding: 1rem;
}

#name{
  text-decoration: overline;
  color: #df3d73;
}

.rest1{
  max-width: 70%;
}

.rest2{
  max-width: 30%;

}

.tag{
  border: 2px #fff solid;
  font-size: 1rem;
}

.left, .right{
  width: 15%;
  border-bottom: 1px solid lightgrey;
  flex-grow: 1;
  margin: 0;
}

#left, #right{
  width: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: 6rem;
  color: #2196f3;
  cursor: pointer;
}

small{
  color: #2196f3;
}

.top-line{
  color: #2196f3;
}

.hidden{
  display: none;
}

#list{
  padding-bottom: 60px;
}

.lists{
  padding: 0 !important;
}

td{
  font-size: 1.4rem;
  vertical-align: middle !important;
  height: 5rem;
}

.price{
  color:#000;
}

.name{
  color: grey;
  font-weight: bold;
}

.flashit{
  color:#f2f;
	-webkit-animation: flash linear 1s 3;
	animation: flash linear 1s 3;
}
@-webkit-keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}
@keyframes flash {
	0% { opacity: 1; }
	50% { opacity: .1; }
	100% { opacity: 1; }
}

.footer{
  padding: 0 !important;
  background-color: #2196f3;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.footer-content{
  width: 40%;
}

.footer .fa{
  font-size: 2rem;
  color: #fff;
}

/*#finish{

}*/


@media screen and (max-width: 932px) {
  body{
    font-size: 12px;
  }

  h1{
    font-size: 2rem;
  }

  #left, #right{
    font-size: 3rem;
  }

  .left, .right, #restaurant{
    border: none;
  }

  #name{
    font-size: 1.8rem;
  }

  .footer-content{
    width: 100%;
  }

  .footer h5{
    display: none;
  }

  .footer .fa{
    font-size: 1rem;
  }

  .footer button{
    width: 8rem !important;
  }

  #description{
    display: none
  }

  .tag{
    display: none;
  }

}
