/*blue- #2196f3*/
/*pink - #df3d73*/

body{
  box-sizing: border-box;
  font-size: 12px;
  background-color: #000;
  background-image: url("/assets/images/lidye-petit-300571.jpg");
  background-size: cover;
  color: #fff;
}

#login2{
  margin-top: 1rem;
}

#signup2{
  margin-top: 1rem;
}

.main{
  margin-top: 1rem;
}

h1{
  font-size: 10rem;
}

h1 span{
  color: #df3d73;
}

h4{
  margin-bottom: 2rem;
}

.top{
  margin-bottom: 2rem;
}

.signup{
  width: 67%;
  margin-bottom: 2rem;
}

.login2{
  width: 67%;
  margin-bottom: 2rem;
}

.desc{
  width: 85%;
  text-align: center;
}

.bottom{
  width: 40%;
}

.bottom span{
  color: #e91e63;
  font-weight: bold;
}


@media screen and (max-width: 500px) {
  body{
    font-size: 12px;
  }

  h1{
    font-size: 5rem;
  }

  .desc{
    font-size: .8rem;
  }

  .bottom{
    width: 100%;
  }
}
