/*blue- #2196f3*/
/*pink - #df3d73*/

body{
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100%;
}

.top{
  position: sticky;
  top: 0;
  z-index: 5;
}

.navdiv{
  width: 100vw;
}

.logo{
  color: #000;
}

.score{
  background-color: #000;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

.top-of-page{
  background-color: #000;
  color: #fff;
}

.toggle{
  background-color: #2196f3;
}

.lists{
  padding-bottom: 60px;
}

.todo{
  color: #df3d73;
}

.done{
  color: #2196f3;
}

.todo-break{
  background-color: #df3d73;
  color: #fff;
}

.done-break{
  background-color: #2196f3;
  color: #fff;
}

/*MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP MAP*/
#map{
  height: 400px;
  width: 100%;
  display: none;
}

.footer{
  padding: 0 !important;
  background-color: #2196f3;
  position: fixed;
  bottom: 0;
  z-index: 5;
}
