/*blue- #2196f3*/
/*pink - #df3d73*/

body{
  font-size: 16px;
  box-sizing: border-box;
  min-height: 100%;
}

.top{
  position: sticky;
  top: 0;
  z-index: 5;
}

.navdiv{
  width: 100vw;
}

a{
  color: #fff;
}

.logo{
  color: #000;
}

.score{
  background-color: #000;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
}

.restaurant{
  background-image: url("../../assets/images/Picture1.png");
  background-position: bottom;
  background-size: cover;
}

#name{
  text-decoration: overline;
  color: #df3d73;
}

.overview{
  width: 37%;
  height: 100%;
}

.industry, .details{
  width: 28%;
  height: 100%;
}

.top-of-page{
  background-color: #000;
  color: #fff;
}

.history, .future{
  width: 48%;
}

.tag{
  border: 1px solid #fff;
}

.break{
  border-top: 1px solid lightgrey;
}

.small{
  display: none;
}

form{
  padding-bottom: 100px;
}


.footer{
  padding: 0 !important;
  background-color: #2196f3;
  position: fixed;
  bottom: 0;
  z-index: 5;
}

@media screen and (max-width: 932px) {
  body{
    font-size: 12px;
  }

  h1{
    font-size: 2rem;
  }

  .restaurant{
    flex-direction: column;
  }

  .industry, .details, .overview{
    width: 100%;
  }


  .form-section{
    flex-direction: column;
  }

  .history, .future{
    width: 100%;
  }


  .tag{
    display: none;
  }

  form{
    padding-bottom: 70px;
  }

  .small{
    display: inline;
  }

  .big{
    display: none;
  }

}
